.bloco{
    background: #b6f881;
    position: absolute;
    /* POSITION RELATIVE: PAI DO POSITION ABSOLUTE */
    height: 100%;
    width: 450px;
    top: 0px;
    right: 0px;
    padding-top: 110px;
}
.custom-row {
    margin-left: 0px;
    margin-right: 0px;
}
html, body {

    height: 100%;
    width: 100%;
    /*FAZENDO O BODY OCUPAR 100% DA TELA */
}

.invalid-feedback{
    padding-bottom: -10px;
    font-size: small;
    padding-top: 20px;
}
.lbcad{
    font-size: small;
    font-weight: bold;
    padding-top: 20px;
}

.btn{
    font-size: small;
    background: #45b2cb
    /*DEGRADE*/
}
.col {
    position: absolute;
    /* POSITION ABSOLUTE: PODE SER MOVIDO LIVREMENTE APENAS DENTRO DO PAI(RELATIVE) */
}

.loglink{
    font-size: small;
    color: #7e3de8;
}
.loglink:hover{
    cursor: pointer;
}