<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap demo</title>
    <script src="/js/funcoes.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/principal.css" type="text/css">
</head>
<body>
    <div class="sidebar">
        <input type="checkbox" id="check">
        <label for="check">
            <img src="/images/icon.png">
        </label>
        <nav>
            <ul>
                <li><a href="" >item 1</a></li>
                <li><a href="" >item 2</a></li>
                <li><a href="" >item 3</a></li>
                <li><a href="" >item 4</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>